/* Portfolio */

.container.header {
	position: relative;
}

.container.header::after {
	content: "";
	position: absolute;
	left: 0;

	width: 100%;

	border-bottom: 1px solid #ececec;
}

.list.button {
	display: flex;
	justify-content: center;
	padding-top: 94px;
}

.button.item {
	margin-right: 8px;
}

.button.item:last-child {
	margin-right: 0px;
}

.button.secondary {
	padding-top: 6px;
	padding-right: 22px;
	padding-bottom: 6px;
	padding-left: 22px;

	border: 0;
	border-radius: 4px;
	cursor: pointer;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--primary-text-color);
	background-color: var(--secondary-bg-color);

	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button.secondary:hover,
.button.secondary:focus {
	color: var(--primary-bg-color);
	background-color: var(--acent-color);
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
	outline: none;
}

.section.list.project {
	padding-top: 50px;
	padding-bottom: 94px;
	flex-wrap: wrap;
}

.section.list.project .item {
	position: relative;
	outline: none;
	width: calc((100% - 60px) / 3);
	margin-right: 30px;
	margin-bottom: 30px;
}

.section.list.project .item:nth-child(3n) {
	margin-right: 0px;
}

.section.list.project .item:nth-last-child(-n + 3) {
	margin-bottom: 0;
}

.section.list.project .item:hover,
.section.list.project .item:focus {
	box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
	outline: none;
}

.project-img {
	display: block;
}

.project-content {
	width: 370px;
	height: 110px;
	padding: 20px 24px;
	border: 1px solid #eeeeee;
	box-sizing: border-box;
	border-top: none;
	overflow: hidden;
}

.section.headline {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-bottom: 4px;

	color: var(--primary-text-color);
	font-weight: bold;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
}

.section-subtitle {
	margin-top: 0px;
	margin-bottom: 0px;

	color: var(--secondary-text-color);
	font-size: 16px;
	line-height: 1.87;
	letter-spacing: 0.03em;
}

.project-information {
	box-sizing: border-box;
	width: 370px;
	height: 294px;
	position: relative;
	overflow: hidden;
}

.project-title {
	display: block;
	position: absolute;
	top: 0;
	margin: 0;
	height: 294px;
	padding: 63px 24px;

	font-weight: normal;
	font-size: 18px;
	line-height: 1.55;
	color: #ffffff;

	letter-spacing: 0.03em;

	background: rgba(33, 150, 243, 0.9);

	transform: translateY(100%);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section.list.project .item:hover .project-title,
.section.list.project .item:focus .project-title {
	transform: translateY(0);
}

.project-links-test {
	display: block;
	position: relative;
	width: 370px;
	height: 294px;
}

.project-information-test {
	position: relative;
	width: 100%;
	height: 100%;
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
	transform-style: preserve-3d;
}

.project-img-test,
.project-title-test {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	box-sizing: border-box;
}

.project-img-test {
	display: block;
	z-index: 2;
	transform: rotateY(0deg);

	backface-visibility: hidden;
}

.project-title-test {
	margin: 0;

	padding: 63px 24px;

	font-weight: normal;
	font-size: 18px;
	line-height: 1.55;
	color: #ffffff;

	letter-spacing: 0.03em;

	transform: rotateY(-180deg);
	background: rgba(33, 150, 243, 0.9);

	opacity: 0;
}

.section.list.project .item:hover .project-information-test,
.section.list.project .item:focus .project-information-test {
	transform: rotateY(-180deg);
	background: rgba(33, 150, 243, 0.9);
	outline: none;
}

.section.list.project .item:hover .project-title-test {
	opacity: 1;
}

/* Footer */

.footer {
	background-color: var(--bg-color-footer);
}

.container.footer {
	display: flex;
	height: 252px;
}

.container.footer .join {
	padding-top: 72px;
	padding-left: 69px;
}

.container.footer .sign {
	padding-top: 72px;
	padding-left: 94px;
}

.logo-footer {
	display: inline-block;
	padding-top: 60px;
	margin-bottom: 20px;
	color: var(--primary-bg-color);

	font-family: Raleway, sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.2;
	outline: none;
}

.logo-span {
	color: var(--acent-color);
}

.full-address {
	width: 231px;
	height: 81px;
}

.address {
	display: inline-block;
	margin-top: 0px;
	margin-bottom: 9px;

	color: var(--primary-bg-color);
	font-size: 14px;
	line-height: 1.7;
	font-style: normal;
}

.footer-link {
	display: inline-block;
	color: rgba(255, 255, 255, 0.6);
	margin-bottom: 9px;

	font-size: 14px;
	line-height: 1.7;
	font-style: normal;

	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:last-child {
	margin-bottom: 0px;
}

.footer-link:hover,
.footer-link:focus {
	color: var(--acent-color);
	outline: none;
}

.join {
	width: 206px;
	height: 80px;
}

.attention {
	display: inline-block;
	margin-bottom: 20px;

	color: var(--primary-bg-color);
	font-weight: bold;
	font-size: 14px;
	line-height: 1.2;
	text-transform: uppercase;
}

.item-links-footer {
	display: block;
	margin-right: 10px;
	margin-bottom: 24px;
}

.social-links-footer {
	display: flex;
	width: 44px;
	height: 44px;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 10%);
	border-radius: 50%;

	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links-footer:hover,
.social-links-footer:focus {
	border-radius: 50%;
	background-color: #2196f3;
	outline: none;
}

.instagram-footer,
.linkedin-footer {
	width: 20px;
	height: 20px;
	fill: #ffffff;
}

.twitter-footer {
	width: 20px;
	height: 16.25px;
	fill: #ffffff;
}

.facebook-footer {
	width: 20px;
	height: 40px;
	fill: #ffffff;
}

.sign {
	width: 570px;
	height: 86px;
}

.footer-form {
	display: flex;
}

.footer-label {
	display: inline-block;
	margin-right: 12px;
}

.footer-input {
	width: 358px;
	height: 50px;

	padding: 12px 0px 12px 16px;
	color: #fff;
	background-color: var(--bg-color-footer);

	border: 1px solid rgba(255, 255, 255, 0.3);
	box-sizing: border-box;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	border-radius: 4px;

	transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-input:hover,
.footer-input:focus {
	outline: none;
	border: 1px solid #ffffff;
}

.button-second {
	width: 200px;
	height: 50px;
	padding-left: 29px;

	color: var(--primary-bg-color);
	background-color: var(--acent-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	border: 0;
	cursor: pointer;

	font-weight: bold;
	font-size: 16px;
	line-height: 1.87;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.06em;
	outline: none;
}

.button.icon-send {
	margin-left: 10px;
	width: 24px;
	height: 24px;
}

.icon-icon-send {
	width: 24px;
	height: 24px;
	--color1: #ffffff;
}

/* Modal */

.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	background: rgba(0, 0, 0, 0.2);
}

.modal-overlay.is-hidden {
	opacity: 0;
	pointer-events: none;
}

.modal-form {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	width: 528px;
	height: 581px;
	background-color: #ffffff;

	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
}

.modal-title {
	margin: 0;

	padding-top: 40px;
	padding-bottom: 12px;
	font-weight: bold;
	font-size: 20px;
	line-height: 1.15;
	text-align: center;
}

.form-field {
	position: relative;
	display: flex;

	flex-direction: column;
	margin-left: auto;
	margin-right: auto;

	width: 448px;

	padding-bottom: 10px;
}

.form-field:nth-last-child(4) {
	padding-bottom: 20px;
}

.form-field .form-field-title {
	font-weight: normal;
	font-size: 12px;
	line-height: 1.167;
	letter-spacing: 0.01em;

	padding-bottom: 4px;
	color: var(--secondary-text-color);
}

.comment {
	font-weight: normal;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.01em;

	transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .comment:placeholder-shown {
	color: rgba(117, 117, 117, 0.5);
} */

.modal-input {
	height: 40px;

	padding: 12px 0px 12px 40px;

	border: 1px solid rgba(33, 33, 33, 0.2);
	box-sizing: border-box;
	border-radius: 4px;

	transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover,
.modal-input:focus,
.comment:hover,
.comment:focus {
	border: 1px solid var(--acent-color);
	outline: none;
}

.comment {
	padding: 12px 16px;
	height: 120px;
	resize: none;

	border: 1px solid rgba(33, 33, 33, 0.2);
	box-sizing: border-box;
	border-radius: 4px;

	font-weight: normal;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.01em;

	color: rgba(117, 117, 117, 0.5);
}

.checkbox-label {
	position: absolute;

	display: inline-flex;
	align-items: center;
	margin-right: auto;
	margin-left: auto;

	padding-bottom: 30px;

	transform: translateX(54px);
}

.checkbox {
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.checkbox-icon {
	display: inline-block;
	margin-right: 7px;

	width: 16px;
	height: 15px;

	border: 2px solid var(--primary-text-color);
	border-radius: 2px;

	transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		background-size 250ms cubic-bezier(0.4, 0, 0.2, 1), background-size 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .checkbox-icon {
	border-color: var(--acent-color);
	background-color: var(--acent-color);
	background-image: url("../images/icon check.svg");
	background-size: contain;
	background-origin: border-box;
}

.checkbox-title {
	font-weight: normal;
	font-size: 14px;
	line-height: 1.71;
	color: var(--secondary-text-color);
}

.checkbox-policy {
	color: var(--acent-color);
	text-decoration: underline;
}

.button-send-modal {
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);

	margin-bottom: 40px;

	width: 200px;
	height: 50px;
	color: var(--primary-bg-color);
	background-color: var(--acent-color);
	border-radius: 4px;
	border: 0;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	outline: none;

	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 1.875;
	letter-spacing: 0.06em;

	cursor: pointer;

	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-send-modal:hover,
.button-send-modal:focus {
	background-color: #0cda3f;
}

.button-close-modal {
	position: absolute;
	top: 8px;
	right: 8px;

	width: 30px;
	height: 30px;

	/* padding: 0; */
	background-color: #fff;

	border-radius: 50%;
	border: 1px solid rgba(0, 0, 0, 0.1);

	cursor: pointer;

	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal {
	position: absolute;
	bottom: 5px;
	right: 5px;

	width: 18px;
	height: 18px;
	fill: currentColor;
}

.button-close-modal:hover,
.button-close-modal:focus {
	color: #2196f3;
}

.modal-svg {
	position: absolute;
	top: 29px;
	left: 12px;

	width: 18px;
	height: 18px;

	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover + .modal-svg,
.modal-input:focus + .modal-svg {
	fill: var(--acent-color);
}

/* .form-field:focus > .modal-svg {
	fill: var(--acent-color);
} */
