@import "../../../utils/mixin-header";
@import "../../../utils/placeholder";

.flex-header {
	display: flex;
	align-items: center;
}

.logo-header {
	@extend %logo;

	margin-right: 85px;

	color: $primary-text-color;
}

.logo-nav {
	@include logoSpan($acent-color);
}
