.container.studio {
	position: relative;

	&::after {
		content: "";
		position: absolute;
		left: 0;
		bottom: 0;
		z-index: -1;

		width: 100%;

		border-bottom: 1px solid #ececec;
	}
}

.flex-header {
	display: flex;
	align-items: center;
}

.logo-header {
	@extend %logo;

	margin-right: 85px;

	color: $primary-text-color;
}

.logo-nav {
	@include logoSpan($acent-color);
}
